<div class="row px-3 box-details">
	<div class="col-12 col-md-9" style="padding: 10px;">
		<div class="box-iframe"> 
			<iframe id="player" src="https://www.youtube.com/embed/{{post.url}}?autoplay=1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div>
			<h1>{{post.title}}</h1>
			<div class="d-flex align-items-center justify-content-between">
				<div class="d-flex align-items-center box-icon">
					<i data-id="{{post._id}}" data-number-likes="
						{{#if post.likes }}
							{{helpersArr post.likes 0}}
						{{ else }}
							0
						{{/if}}
					" class="fas fa-thumbs-up likes mb-2
					{{#if post.likes }}
						{{#if (helpersCheckActionOfUser post.likes user._id 0)}}
							liked
						{{/if}}
					{{/if}}
					"></i>
					<i data-id="{{post._id}}" data-number-dislikes="
						{{#if post.likes }}
							{{helpersArr post.likes 1}}
						{{ else }}
							0
						{{/if}}
					" class="fas fa-thumbs-down dislikes
					{{#if post.likes }}
						{{#if (helpersCheckActionOfUser post.likes user._id 1)}}
							liked
						{{/if}}
					{{/if}}
					"></i>
					<a href="https://www.facebook.com/sharer?u=https://www.youtube.com/watch?v={{post.url}}" target="_blank">
						<i class="fas fa-share-alt py-1"></i>
					</a>
				</div>
				<div class="d-flex txt-info-video">
					{{#if post.likes }}
						{{#compare (helpersArr post.likes 0) '>' 0}}
							<p class="number-likes" data-id="{{post._id}}">{{helpersArr post.likes 0}} likes</p>
						{{ else }}
							<p class="number-likes" data-id="{{post._id}}"></p>
						{{/compare}}
						{{#compare (helpersArr post.likes 1) '>' 0}}
							<p class="number-dislikes" data-id="{{post._id}}">{{helpersArr post.likes 1}} dislikes</p>
						{{ else }}
							<p class="number-dislikes" data-id="{{post._id}}"></p>
						{{/compare}}
					{{ else }}
						<p class="number-likes" data-id="{{post._id}}"></p>
						<p class="number-dislikes" data-id="{{post._id}}"></p>
					{{/if}}
					{{#compare post.views ">" 0}}
						<p data-id="{{post._id}}">{{post.views}} views</p>
					{{/compare}}
				</div>
			</div>
			<div class="py-3 my-3 info-authors">
				<div class="d-flex align-items-center">
					<i class="fa fa-user-secret icon-logo-user" aria-hidden="true"></i>
					{{!-- <span class="material-icons icon-logo-user">face</span> --}}
					<div class="txt-info-video">
						<p>{{post.user.name}}</p>
						<p>{{formatDate post.update_at}}</p>
					</div>
				</div>
				<div class="info-post">
					<div class="d-flex">
						<i class="fas fa-flag mt-2"></i>
						<p>{{post.category}}</p>
					</div>
					<div class="d=flex">
						<i class="fas fa-code"></i>
						<a href="https://www.youtube.com/watch?v={{post.url}}" target="_blank">https://www.youtube.com/watch?v={{post.url}}</a>
					</div>
					<div class="d-flex">
						<i class="fas fa-quote-right mt-2"></i>
						<p>{{post.content}}</p>
					</div>
				</div>
			</div>

			<div class="box-comment">
				<div class="d-flex w-100 justify-content-between box-input">
					<input class="col" type="text" id="cmt" placeholder="Your comment.">
					<i class="fas fa-paper-plane col-1" id="btnComment"></i>
				</div>
				<div class="py-1">
					{{#if user }}
					{{ else }}
						<i>You are not logged in. Please login to comment !</i>
					{{/if  }}
				</div>
			</div>
			<div class="comments">
				<div class="cm-new"></div>
				{{#each post.comments}}
					<div class="txt-info-video p-2 m-3 shadow-sm">
						<div class="d-flex align-items-center justify-content-between">
							<div class="d-flex align-items-center">
								<i class="fas fa-at"></i>
								<p class="m-0 p-0">{{this.user.name}}</p>
							</div>
							{{#compare this.user._id "==" ../user._id}}
							<div>
								<i class="fas fa-ellipsis-h"  data-bs-toggle="dropdown"></i>
								<div class="dropdown-menu dropdown-menu-end shadow-sm d-flex">
									<i class="fas fa-pencil-alt dropdown-item edit-cm" data-id="{{this._id}}"></i>
									<i class="fas fa-trash-alt dropdown-item delete-cm" data-id="{{this._id}}"></i>
								</div>
							</div>
							{{/compare }}
						</div>
						<p class="content-cm-{{this._id}}">{{this.content}}</p>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="col-12 col-md-3 box-main">
		{{#each posts}}
			<div class="div-item" data-id="{{this._id}}">
				<div class="div-image">
					<a href="/details/{{ this.slug }}">
						<img src="https://img.youtube.com/vi/{{this.url}}/maxresdefault.jpg" class="img-fluid w-100">
					</a>
				</div>
				<div class="w-100">
					<div class="d-flex flex-column justify-content-between p-1">
						<div>
							<a href="/details/{{ this.slug }}"><p class="m-0 title">{{this.title}}</p></a>
						</div>
						<div class="d-flex align-items-center justify-content-between">
							<div class="d-flex align-items-center">
								<i data-id="{{this._id}}" data-number-likes="
									{{#if this.likes }}
										{{helpersArr this.likes 0}}
									{{ else }}
										0
									{{/if}}
								" class="fas fa-thumbs-up likes
								{{#if this.likes }}
									{{#if (helpersCheckActionOfUser this.likes ../user._id 0)}}
										liked
									{{/if}}
								{{/if}}
								"></i>
								<i data-id="{{this._id}}" data-number-dislikes="
									{{#if this.likes }}
										{{helpersArr this.likes 1}}
									{{ else }}
										0
									{{/if}}
								" class="fas fa-thumbs-down dislikes mt-2 ml-3
								{{#if this.likes }}
									{{#if (helpersCheckActionOfUser this.likes ../user._id 1)}}
										liked
									{{/if}}
								{{/if}}
								"></i>
							</div>
							<div class="d-flex txt-info-video">
								{{#if this.likes }}
									{{#compare (helpersArr this.likes 0) '>' 0}}
										<p class="number-likes" data-id="{{this._id}}">{{helpersArr this.likes 0}} likes</p>
									{{ else }}
										<p class="number-likes" data-id="{{this._id}}"></p>
									{{/compare}}
									{{#compare (helpersArr this.likes 1) '>' 0}}
										<p class="number-dislikes" data-id="{{this._id}}">{{helpersArr this.likes 1}} dislikes</p>
									{{ else }}
										<p class="number-dislikes" data-id="{{this._id}}"></p>
									{{/compare}}
								{{ else }}
									<p class="number-likes" data-id="{{this._id}}"></p>
									<p class="number-dislikes" data-id="{{this._id}}"></p>
								{{/if}}
								{{#compare this.views ">" 0}}
								<p data-id="{{this._id}}">{{this.views}} views</p>
								{{/compare}}
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
    <input id="post-id" type="text" value="{{post._id}}" hidden>
    <input id="user-id" type="text" value="{{user._id}}" hidden>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	$('.likes').click(function() {
		if($('#user-id').val() == "") {
			location.href = "/user/login"
		} else {
			$.ajax({
				url: '/post/'+ $(this)[0].dataset.id + '/likes',
				type: "POST",
				processData: false,
				contentType: false,
				success: function (data) {
					if(data.failed) {
						return
					}
					if(data.likes) {
						var item = $(".likes[data-id='" + data.id + "']");
						$(item).addClass("liked");

						var numberLikes = $(".number-likes[data-id='" + data.id + "']");
						$(numberLikes).show();
						$(numberLikes).text('');
						$(numberLikes).text((Number($(item).attr('data-number-likes')) + 1) + ' likes');
						$(item).attr("data-number-likes", Number($(item).attr('data-number-likes')) + 1);

						var item_dislike = $(".dislikes[data-id='" + data.id + "']");
						if($(item_dislike).hasClass("liked")) {
							$(item_dislike).removeClass("liked");

							var numberDislikes = $(".number-dislikes[data-id='" + data.id + "']");
							if(Number($(item_dislike).attr('data-number-dislikes')) - 1 == 0) {
								$(numberDislikes).hide();
							} else {
								$(numberDislikes).show();
								$(numberDislikes).text('');
								$(numberDislikes).text((Number($(item_dislike).attr('data-number-dislikes')) - 1) + ' dislikes');
							}
							$(item_dislike).attr("data-number-dislikes", Number($(item_dislike).attr('data-number-dislikes')) - 1);
						}
						return
					}
					if(data.unlikes) {
						var item = $(".likes[data-id='" + data.id + "']");
						$(item).removeClass("liked");

						var numberLikes = $(".number-likes[data-id='" + data.id + "']");
						if(Number($(item).attr('data-number-likes')) - 1 == 0) {
							$(numberLikes).hide();
						} else {
							$(numberLikes).show();
							$(numberLikes).text('');
							$(numberLikes).text((Number($(item).attr('data-number-likes')) - 1) + ' likes');
						}
						$(item).attr("data-number-likes", Number($(item).attr('data-number-likes')) - 1);
						return
					}
				}
			});
		}
	})
	$('.dislikes').click(function() {
		if($('#user-id').val() == "") {
			location.href = "/user/login"
		} else {
			$.ajax({
				url: '/post/'+ $(this)[0].dataset.id + '/dislikes',
				type: "POST",
				processData: false,
				contentType: false,
				success: function (data) {
					if(data.failed) {
						return
					}
					if(data.dislikes) {
						var item = $(".dislikes[data-id='" + data.id + "']");
						$(item).addClass("liked");

						var numberDislikes = $(".number-dislikes[data-id='" + data.id + "']");
						$(numberDislikes).show();
						$(numberDislikes).text('');
						$(numberDislikes).text((Number($(item).attr('data-number-dislikes')) + 1) + ' dislikes');
						$(item).attr("data-number-dislikes", Number($(item).attr('data-number-dislikes')) + 1);

						var item_likes = $(".likes[data-id='" + data.id + "']");
						if($(item_likes).hasClass("liked")) {
							$(item_likes).removeClass("liked");

							var numberLikes = $(".number-likes[data-id='" + data.id + "']");
							if(Number($(item_likes).attr('data-number-likes')) - 1 == 0) {
								$(numberLikes).hide();
							} else {
								$(numberLikes).show();
								$(numberLikes).text('');
								$(numberLikes).text((Number($(item_likes).attr('data-number-likes')) - 1) + ' likes');
							}
							$(item_likes).attr("data-number-likes", Number($(item_likes).attr('data-number-likes')) - 1);
						}
						return
					}
					if(data.undislikes) {
						var item = $(".dislikes[data-id='" + data.id + "']");
						$(item).removeClass("liked");

						var numberDislikes = $(".number-dislikes[data-id='" + data.id + "']");
						if(Number($(item).attr('data-number-dislikes')) - 1 == 0) {
							$(numberDislikes).hide();
						} else {
							$(numberDislikes).show();
							$(numberDislikes).text('');
							$(numberDislikes).text((Number($(item).attr('data-number-dislikes')) - 1) + ' dislikes');
						}
						$(item).attr("data-number-dislikes", Number($(item).attr('data-number-dislikes')) - 1);
						return
					}
				}
			});
		}
	})
});
var ID = null;
function comment() {
  if($('#cmt').val() != "") {
		if($('#user-id').val() == "") {
			location.href = "/user/login"
		} else {
			if(ID != null) {
				$.ajax({
					url: '/post/comment/edit/'+ ID + '/' + $('#cmt').val(),
					type: "POST",
					processData: false,
					contentType: false,
					success: function (data) {
						if(data.failed) {}
						if(data.success) {
							$('#cmt').val("");
							$('.content-cm-'+data.id).text(data.content);
						}
					}
				});
				ID = null
				return
			} else {
				$.ajax({
					url: '/post/comment/'+ $('#post-id').val() + '/' + $('#cmt').val(),
					type: "POST",
					processData: false,
					contentType: false,
					success: function (data) {
						if(data.failed) {return}
						if(data.success) {
							$('#cmt').val("");
							var html = `
								<div class="txt-info-video p-2 m-3 shadow-sm">
									<div class="d-flex align-items-center justify-content-between">
										<div class="d-flex align-items-center">
											<i class="fas fa-at"></i>
											<p class="m-0 p-0">`+data.username+`</p>
										</div>
										<div>
											<i class="fas fa-ellipsis-h"  data-bs-toggle="dropdown"></i>
											<div class="dropdown-menu dropdown-menu-end shadow-sm">
												<i onclick="editComment('`+data.id+`')" class="fas fa-pencil-alt dropdown-item"></i>
												<i onclick="deleteComment('`+data.id+`')" class="fas fa-trash-alt dropdown-item delete-cm" data-id="`+data.id+`"></i>
											</div>
										</div>
									</div>
									<p class="content-cm-`+data.id+`">`+data.content+`</p>
								</div>
							`
							$('.cm-new').append(html);
						}
					}
				});
			}
		}
	}
}

$('#cmt').keyup(function(e){
    if(e.keyCode == 13) {
        comment()
    }
});

$('#btnComment').click(function() {
	comment()
});

$(".edit-cm").click(function(){
	if($('#user-id').val() == "") {
		location.href = "/user/login"
	} else {
		var id = $(this).attr('data-id');
		var content = $('.content-cm-' + id).text();
		$("#cmt").val(content);
		ID = id;
		$(window).scrollTop($("#cmt").offset().top - 500);
	}
});
$(".delete-cm").click(function(){
	if($('#user-id').val() == "") {
		location.href = "/user/login"
	} else {
		var id = $(this).attr('data-id');
		$.ajax({
			url: '/post/comment/delete/'+ id,
			type: "POST",
			processData: false,
			contentType: false,
			success: function (data) {
				if(data.failed) {return}
				if(data.success) {
					$(".delete-cm[data-id='" + data.id + "']").parent().parent().parent().parent().hide();
				}
			}
		});
	}
});
function deleteComment(id) {
	if($('#user-id').val() == "") {
		location.href = "/user/login"
	} else {
		$.ajax({
			url: '/post/comment/delete/'+ id,
			type: "POST",
			processData: false,
			contentType: false,
			success: function (data) {
				if(data.failed) {return}
				if(data.success) {
					$(".delete-cm[data-id='" + data.id + "']").parent().parent().parent().parent().hide();
				}
			}
		});
	}
}
function editComment(id) {
	if($('#user-id').val() == "") {
		location.href = "/user/login"
	} else {
		var content = $('.content-cm-' + id).text();
		$("#cmt").val(content);
		ID = id;
	}
}
</script>