<div class="footer shadow-sm p-3 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <img src="{{data.[0].thumbnail}}" class="rounded-circle img-fluid" alt="">
        <div>
            <p class="tracks-name">{{data.[0].name}}</p>
            <p class="tracks-artists">{{data.[0].artists_names}}</p>
        </div>
    </div>
    <div class="">
        <div class="d-flex justify-content-evenly mt-3">
            <i class="fas fa-step-backward"></i>
            <i id="play" class="fas fa-play" style="display: none;"></i>
            <i id="pause" class="fas fa-pause"></i>
            <i class="fas fa-step-forward"></i>
        </div>
        <div class="d-flex align-items-center">
            <input type="range" step="any" id="timeLine" value="0">
            <i id="volumeUp" class="fas fa-volume-up"></i>
            <i id="volumeMute" class="fas fa-volume-mute" style="display: none;"></i>
        </div>
    </div>
    <div class="d-flex">
        <i class="fas fa-heart"></i>
    </div>
    
    <audio id="audio" controls autoplay hidden>
        <source src="https://api.mp3.zing.vn/api/streaming/audio/{{ data.[0].id }}/320" type="audio/ogg">
        <source src="https://api.mp3.zing.vn/api/streaming/audio/{{ data.[0].id }}/320" type="audio/mpeg">
    </audio>
    <ul id="playlist" class="overflow-auto" hidden>
        {{#each data}}
            <li><a href="https://api.mp3.zing.vn/api/streaming/audio/{{ this.id }}/320">{{this.name}}</a></li>
        {{/each}}
    </ul>
</div>
<script>
    audio.onloadedmetadata = () => timeLine.max = audio.duration
    timeLine.onchange = () => audio.currentTime = timeLine.value
    audio.ontimeupdate = () => timeLine.value = audio.currentTime
</script>